<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RFC Book Database</title>
    <link rel="stylesheet" th:href="@{/css/home-style.css}" />
</head>
<body>
<h1>Welcome to the RFC BOOK DATABASE</h1>
<p>
    This database contains information on various RFCs. Explore, search, and find details about each RFC document.
</p>

<a th:href="@{/book/create-form}" class="button">Add a New Book</a>

<a th:href="@{/book/home}" class="button">Consult Books</a>
</body>
</html>